{% extends "index.html" %}
{% block page_content %}
<h1 class="title">APACHE</h1>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<br>
	{% if logStatus|length > 0 %}
		<ul>
		{% for key,value in logStatus.data.items() %}
			<li>{{ key }} : {{ value }}</li>
		{% endfor %}
		</ul>
	{% endif %}

<div class="page-header button-style">
	<ul class="nav nav-pills" style="display: flex;justify-content: space-between;">
	  <!-- queste sono tutte form, non devo scendere su una nuova pagina -->
	  <li role="presentation" id="startButton">
	  	<form id="startApache" action="/startApache" role="form" method="POST">
       		<input type = "submit" value = "Start" id="buttonStartApache" name="b-start-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="stopButton">
	   	<form id="stopApache" action="/stopApache" role="form" method="POST">
       		<input type = "submit" value = "Stop" id="buttonStopApache" name="b-stop-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="restartButton">
	  	<form id="restartApache" action="/restartApache" role="form" method="POST">
       		<input type = "submit" value = "Restart" id="buttonRestartApache" name="b-restart-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="reloadButton">
	  	<form id="reloadApache" action="/reloadApache" role="form" method="POST">
       		<input type = "submit" value = "Reload" id="buttonReloadApache" name="b-reload-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="statusButton" >
	  	<form id="statusApache" action="/statusApache" role="form" method="POST">
       		<input type = "submit" value = "Status" id="buttonStatusApache" name="b-status-a"/>
    	</form>
	  </li>
	</ul>
	<p id="pText" hidden> To activate new settings you must restart or reload apache </p>
</div>

<div class="container">

  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/sites">Sites</a></li>
    <li role="presentation"><a href="/modules">Modules</a></li>
    <li role="presentation"><a href="/configurations">Configurations</a></li>
  </ul>

	<div class="tab-content">
	  {% if vhost and vhost|length > 0 %}
		{% with vhost=vhost %}
			{% include 'apache-sites.html' %}
	  	{% endwith %}
	  {% endif %}
	  {% if mods and mods|length > 0 %}
	  	{% with mods=mods %}
			{% include 'apache-modules.html' %}
	  	{% endwith %}
	  {% endif %}
	  {% if conf and conf|length > 0 %}
	  	{% with conf=conf %}
			{% include 'apache-configurations.html' %}
	  	{% endwith %}
	  {% endif %}
	</div>  
</div>
{% endblock %}