{% extends "index.html" %}
{% block page_content %}
<h1 class="title">APACHE</h1>
<div class="page-header button-style">
	<br>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<br>
	<ul class="nav nav-pills" style="display: flex;justify-content: space-between;">
	  <!-- queste sono tutte form, non devo scendere su una nuova pagina -->
	  <li role="presentation" id="startButton">
	  	<form id="startApache" action="/startApache" role="form" method="POST">
       		<input type = "submit" value = "Start" id="buttonStartApache" name="b-start-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="stopButton">
	   	<form id="stopApache" action="/stopApache" role="form" method="POST">
       		<input type = "submit" value = "Stop" id="buttonStopApache" name="b-stop-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="restartButton">
	  	<form id="restartApache" action="/restartApache" role="form" method="POST">
       		<input type = "submit" value = "Restart" id="buttonRestartApache" name="b-restart-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="reloadButton">
	  	<form id="reloadApache" action="/reloadApache" role="form" method="POST">
       		<input type = "submit" value = "Reload" id="buttonReloadApache" name="b-reload-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="statusButton" >
	  	<form id="restartApache" action="/restartApache" role="form" method="POST">
       		<input type = "submit" value = "Restart" id="buttonRestartApache" name="b-status-a"/>
    	</form>
	  </li>
	</ul>
	<p id="pText" hidden> To activate new settings you must restart or reload apache </p>
</div>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#size">Size</a></li>
    <li><a data-toggle="tab" href="#modules">Modules</a></li>
    <li><a data-toggle="tab" href="#configurations">Configurations</a></li>
  </ul>

  <div class="tab-content">
    <div id="size" class="tab-pane fade in active">
      <h3 class="title">Size</h3>
      {% if vhost|length > 0 %}
	      {% for v in vhost.data %}
	      <div class="row">
	        	<div class="col-md-6"> 
		        	<h2 style="text-align: center;">{{v['filename'][:-5]}}</h2>
		      	</div>
		        <div class="col-md-4"> 
		          <table>
		            <tr>
		             <td> Site Folder (DocumentRoot): </td>
		             <td> {{v['DocumentRoot']}} </td>
		            </tr>
		            <tr>
		             <td> filename: </td>
		             <td> {{v['filename']}} </td>
		            </tr>
		            <tr>
		             <td> active: </td>
		             {% if v['active'] == 1 %}
		             <td>
			             <form id="activateVHost" action="/activateVHost" role="form" method="POST">
			             	<input type="hidden" value="{{v['filename']}}" name="clickActiv">
		       			 	<button class="button b-round-g" id="buttonClickActiv"></button>
		    			 </form>
	    			 </td>
		             <!--<td><button class="button b-round-g" value="" id="buttonClickActiv"></button></td>-->
		             {% else %}
		             <td>
		             	<form id="deactivatevhost" action="/deactivatevhost" role="form" method="POST">
			             	<input type="hidden" value="{{v['filename']}}" name="clickDeactiv">
			             	<button class="button b-round-r" id="buttonClickDeactiv"></button></td>
			         	</form>
		             {% endif %}
		            </tr> 
		        </table>
		      </div>		
	      </div>
	      {% endfor %}
      {% endif %}
    </div>
    <div id="modules" class="tab-pane fade">
      <h3 class="title">Modules</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="configurations" class="tab-pane fade">
      <h3 class="title">Configurations</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>


{% endblock %}