{% extends "index.html" %}
{% block page_content %}

<h2>Content: {{nameMods}}</h2>

<form id="form" action="/updateContentMods/{{ nameMods }}" role="form" method = "POST">
	<div id="loadTextArea">
		{% if contentMods %}
			<textarea rows="15" name="contentTextarea" id="contentTextarea" style="width: 55em;">{{ contentMods.data }}</textarea>
		{% endif %}
	</div>
	<div class="input-group-btn">
    	<button type="submit" class="btn btn-primary" id="modificaTextarea" style="margin-top: 1em;margin-left: 56em;" disabled>Modifica</button>
  	</div>
</form>

{{ newContent }}

{% endblock %}