{% extends "index.html" %}

{% block page_content %}

<h1 class="title">APACHE</h1>

<div class="page-header button-style">
	<ul class="nav nav-pills" style="display: flex;justify-content: space-between;">
	  <!-- queste sono tutte form, non devo scendere su una nuova pagina -->
	  <li role="presentation" id="startButton">
	  	<form id="startApache" action="/startApache" role="form" method="POST">
       		<input type = "submit" value = "Start" id="buttonStartApache" name="b-start-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="stopButton">
	   	<form id="stopApache" action="/stopApache" role="form" method="POST">
       		<input type = "submit" value = "Stop" id="buttonStopApache" name="b-stop-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="restartButton">
	  	<form id="restartApache" action="/restartApache" role="form" method="POST">
       		<input type = "submit" value = "Restart" id="buttonRestartApache" name="b-restart-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="reloadButton">
	  	<form id="reloadApache" action="/reloadApache" role="form" method="POST">
       		<input type = "submit" value = "Reload" id="buttonReloadApache" name="b-reload-a"/>
    	</form>
	  </li>
	  <li role="presentation" id="statusButton" >
	  	<form id="statusApache" action="/statusApache" role="form" method="POST">
       		<input type = "submit" value = "Status" id="buttonStatusApache" name="b-status-a"/>
    	</form>
	  </li>
	</ul>
	<p id="pText" hidden> To activate new settings you must restart or reload apache </p>
</div>


	<div class="tab-content">
	  {% if conf and conf|length > 0 %}
		<div id="configurations">
		      <h3 class="title">Configurations</h3>
			    {% for c in conf.data %}
			    <div class="row apacheRow">
			    	<div class="col-md-6"> 
			        	<h2 style="text-align: center;"><button style="font-size: 28px;" type="button" data-toggle="modal" class="btn btn-link" data-target="#modalUpdSites">{{c['filename'][:-5]}}</button></h2>
			      	</div>
			      	<div class="col-md-4" style="padding-top: 18px;">
			      		<table>
				            <tr>
					            <td> filename: &ensp;</td>
					            <td> {{  c['filename'] }} </td>
				            </tr>
				            <tr>
				            	<td> active: &ensp;</td>
				            {% if c['active'] == 1 %}
					            <td>
						            <form id="deactivateConf" action="/deactivateConf" role="form" method="POST">
						           		<input type="hidden" value="{{c['filename']}}" name="clickDeactiv">
					       		 		<button class="button b-round-g" id="buttonCClickDeactiv"></button>
					    			</form>
				    			</td>
				            <!--<td><button class="button b-round-g" value="" id="buttonClickActiv"></button></td>-->
				            {% else %}
					            <td>
						            <form id="activateConf" action="/activateConf" role="form" method="POST">
						           		<input type="hidden" value="{{c['filename']}}" name="clickActiv">
					       		 		<button class="button b-round-r" id="buttonCClickActiv"></button>
					    			</form>
				    			</td>
				            {% endif %}
				            </tr> 
				        </table> 
			      	</div>
			    </div>
				{% endfor %}     
		</div>
	  {% endif %}
	</div> 

{% endblock %}