{% extends "index.html" %}
{% block page_content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">cpu</div>
    <div class="panel-body">
      <table>
      {% for key,value in cpu.items()%}
        <tr>
          <td><h4>{{key}}</h4></td>
          <td><h4>{{value}}</h4></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">memory</div>
    <div class="panel-body">
      <table>
      {% for key,value in mem.items()%}
        <tr>
          <td><h4>{{key}}</h4></td>
          <td><h4>{{value}}</h4></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">process</div>
    <div class="panel-body">
      <table>
      {% for p in proc%}
        <tr>
          <td><h4>{{p}}</h4></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock %}
