{% extends "index.html" %}
{% block page_content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">cpu</div>
    <div class="panel-body">
    	<table>
    	{% for key,value in cpu.items()%}
        <tr>
          <td><h4>{{key}}</h4></td>
    		  <td><h4>{{value}}</h4></td>
        </tr>
    	{% endfor %}
    	</table>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">memory</div>
    <div class="panel-body">
      <table>
      {% for key,value in mem.items()%}
        <tr>
          <td><h4>{{key}}</h4></td>
          <td><h4>{{value}}</h4></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">process</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>



<!--
<ul>
  {% for item in tupl.data %}
    <li>{{item}}</li>
  {% endfor %}
</ul>


  <ul>
  {% for item in tupl.data %}
    {% for value in item %}
    <li>{{value}}</li>
    {% endfor %}
  {% endfor %}
  </ul>
-->

{% endblock %}
