{% extends "index.html" %}
{% block page_content %}

<h2>Aggiorna database indicizzato dei file</h2>

<div class="row">
  <div class="col-md-12 col-sm-12">
  	<!--
    PROVA1- <form id="form" action="/updateDbFile" role="form" method = "POST">
  		<input type = "submit" value = "Aggiorna" id="updateDbFile" name="updateDbFile" class="btn btn-info"/>
      prova BOTTONE con href interno che chiama la funzione!
  	</form> 
    PROVA2- <a href="/updateDbFile" class="btn btn-info">Aggiorna</a></li>
  -->
    <form id="updateDbFile" action="/updateDbFile" role="form" method="POST">
       <input type = "submit" value = "Aggiorna DB File" id="updateDbFile" name="updateDbFile" class="btn btn-info"/>
    </form>

  	<!-- popup alert -->
  	{% if error %}
    	<p class=error><strong>Error:</strong> {{ error }} </p>
  	{% endif %}
  </div>
{% with msg = get_flashed_messages(category_filter=["info"]) %}
  {% if msg %}
    <ul class=flashes>
    {% for m in msg %}
      <li>{{ m }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>

<h2>Trova file</h2>

<div class="row">
  <div class="col-md-8 col-sm-8">
  	<form id="form" action="/findFile" role="form" method = "POST">
	    <div class="input-group input-group-sm col-xs-4 col-md-4">
	      <input type="text" name="fileSearch" class="form-control col-xs-4 col-md-4" placeholder="Seleziona file da ricercare">
	      <div class="input-group-btn">
	        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	      </div>
	    </div>
	</form>
  </div>
  <div class="col-md-4 col-sm-4">
    <button type="button" class="btn btn-default" onclick="javascript:document.getElementById('pathFileFound').innerText = ''">Pulisci Lista</button>
  </div>
</div>

<!-- alert se non -->
{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <ul class=flashes>
    {% for err in errors %}
      <li>{{ err }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if pathFileFound|length > 0 %}

<div class="container" style="top: 15px;">
  <div class="panel-group" id="accordion">
  	{% for pff in pathFileFound.data %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><button class="accordion"> {{ pff }} </button></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse"> <!-- aggiungere classe in per accordion aperto -->
        <div class="panel-body">
        	<button type="button" class="btn btn-warning">Modifica</button>
			<button type="button" class="btn btn-danger">Elimina</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 
</div>
{% endif %}

{% endblock %}