{% extends "index.html" %}
{% block page_content %}
<div class="container">
	<h2>Pacchetti trovati</h2>
	<table id="generic-table" style="width: 80%;">
		<tr>
			<th> NOME </th>
			<th> DESC </th>
		</tr>
		{% for af in appFound.data %}
		<tr>
			<td> 
				<form id="installPackage" action="/installPackage/{{af.name}}" role="form" method="POST">
			        <input type = "submit" value = "{{af.name}}" id="setLink" name="installPackage" class="btn btn-link"/>
			    </form>
			</td>
			<td> {{ af.desc }} </td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

