{% extends "index.html" %}
{% block page_content %}
<div class="container">

<button id="myTopButton" title="Su"><i class="glyphicon glyphicon-arrow-up"></i></button>
	<h2>Pacchetti trovati</h2>
	<table id="generic-table" style="width: 80%;">
		<tr>
			<th> NOME </th>
			<th> DESC </th>
		</tr>
		{% for af in appFound.data %}
		<tr>
			<td> 
				<a href="{{ url_for('getInfoApp',name = af.name) }}" class="btn btn-link"> {{ af.name }} </a>
			</td>
			<td> {{ af.desc }} </td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

