{% extends "bootstrap/base.html" %}

{% block title %} [ Nomodo ] {% endblock %}
{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='nomodo.ico') }}"/>

{% endblock %}


{% block body %}
<div class="wrapper">
	{% block navbar %}
			<nav id="sidebar">
	                <div class="sidebar-header">
	                    <img src="{{ url_for('static', filename='nomodo.png') }}" alt="nomodo" width="140" height="140">
	                    <!--<strong id="iniziali"></strong>-->
	                </div>
					<ul class="list-unstyled components">
	                	<li>
	                        <a type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
	                            <i class="glyphicon glyphicon-menu-hamburger"></i>
								Menu
	                        </a>
	                	</li>
						<li>
	                        <a href="/dash">
	                            <i class="glyphicon glyphicon-briefcase"></i>
	                            Dashboard
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/network">
	                            <i class="glyphicon glyphicon-signal"></i>
	                            Network
	                        </a>
	                    </li>
	                    <li>
	                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
	                            <i class="glyphicon glyphicon-eye-open"></i>
	                            System
	                        </a>
	                        <ul class="collapse list-unstyled" id="pageSubmenu">
	                            <li><a href="/param">Parameters</a></li>
	                            <li><a href="/listUserAndGroups">Users & Groups</a></li>
	                            <li><a href="/listCron">Scheduled Jobs</a></li>
	                        </ul>
	                    </li>
	                    <li>
	                        <a href="/file">
	                            <i class="glyphicon glyphicon-file"></i>
	                            File
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/listInstalled">
	                            <i class="glyphicon glyphicon-align-left"></i>
	                            Applications
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/sites">
	                            <i class="glyphicon glyphicon-leaf"></i>
	                            Apache
	                        </a>
	                    </li>
	                    <li>
	                        <!--<a href="#">
	                            <i class="glyphicon glyphicon-leaf"></i>
	                            Database
	                        </a>-->
	                    </li>
	                </ul>	
			</nav>
	{% endblock %}

	{% block content %}
	<div id="content">
	{% block page_content %}{% endblock %}
	</div>
	{% endblock %}
</div>

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> 
{% endblock %}

{% endblock %}

