<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> [ Nomodo ] </title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="shortcut icon" type="image/png" href="image/favicon.png"/>

</head>

<body>
	<!-- start sidebar -->
	<div class="row">
		<div class="col-md-4 collapse in width" id="collapseSidebar">
			<ul class="nav nav-pills nav-stacked"> 
				<li>
					<div class="profile_info">
						<span>Benvenuto,</span>
						<h4>Utente loggato</h4>
					</div>
				</li>
				<li>
					<a href="#collapseSidebar" id="hamburger" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseSidebar">Menu<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-menu-hamburger"></span></a>
				</li>
				<li>
					<a href="#">Network<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-signal"></span></a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">System <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li>
							<a href="#">Monitoring</a>
						</li>
						<li>
							<a href="#">Management</a>
						</li>	
					</ul>
				</li>
				<li>
					<a href="#">WebServer<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span></a>
				</li>
				<li>
					<a href="#">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span></a>
				</li>
				<li>
					<a href="#">Other<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-triangle-right"></span></a>
				</li>
				<li>
					<a href="#">Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a>
				</li>
			</ul>
		</div>
		<div class="col-md-8" id="page-content">
		<!-- Page content -->
			<div class="row" id="div1page">
				<div class="col-md-4 col-md-offset-5">
					<img src="image/nomodo_logo.png" alt="Logo Nomodo">
				</div>
			</div>
			<div class="row" id="div2page">
				<div class="col-md-4 col-md-offset-5">
					<p>hello</p>
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- Page content -->
		<!-- <div class="page-content inset"> -->
		<!-- <div class="container"> -->
			<!-- <div class="row" id="div1page"> -->
				<!-- <div class="col-md-12 col-md-offset-5"> -->
					<!-- <img src="image/nomodo_logo.png" alt="Logo Nomodo"> -->
				<!-- </div> -->
			<!-- </div> -->
			<!-- <div class="row" id="div2page"> -->
				<!-- <div class="col-md-12"> -->
					<!-- <p>hello</p> -->
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> --> 
		<!-- </div> -->
	<!-- </div> -->
	<!-- end -->

	<!-- <script src="js/index.js"></script> -->
	<!-- obbligatorio per bootstrap.js -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- obbligatorio per il menù laterale con dropdown -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>