<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title> [ Nomodo ] </title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="shortcut icon" type="image/png" href="image/favicon.png"/>

</head>

<body>
	<!-- start sidebar -->
	<div class="wrapper">
		<nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Nome Utente</h3>
                    <strong>NU</strong>
                </div>
				<ul class="list-unstyled components">
                	<li>
                        <a type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
							Menu
                        </a>
                	</li>
					<li>
                        <a href="#">
                            <i class="glyphicon glyphicon-signal"></i>
                            Network
                        </a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            System
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Monitoring</a></li>
                            <li><a href="#">Management</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-globe"></i>
                            WebServer
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-triangle-right"></i>
                            Other
                        </a>
                    </li>
					<li>
                        <a href="#">
                            <i class="glyphicon glyphicon-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>	
		</nav>

		<!-- Page content -->
			<div id="content">
                <!--<h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
				<div class="container">
					<img src="image/nomodo_logo.png" alt="Nomodo"  width="300" height="300">
				</div>
				<div class="line"></div>
				<!--<h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
			</div>
         <!-- end -->
	</div>
	<!-- end sidebar -->

	<!-- obbligatorio per bootstrap.js -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- obbligatorio per il menù laterale con dropdown -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script> 
</body>
</html>