{% extends "index.html" %}
{% block page_content %}

	<div class="container">
	<h2>App: {{name}}</h2>
		<h4>
			<ul class="list-unstyled marginList">
				{% for key, value in infoApp.items() %}
					{% if key == 'Intalled' and infoApp['Intalled'] == 1 %}
					<li><strong> {{key}} </strong>: {{value}} SI clicca<a href="{{url_for('removePackage',name=name)}}" style="color: red;"><u><em> qui </em></u></a>per rimuovere</li>
					{% elif key == 'Intalled' and infoApp['Intalled'] == 0 %}
					<li><strong> {{key}} </strong>: {{value}} NO clicca<a href="{{url_for('installPackage',name=name)}}" style="color: red;"><u><em> qui </em></u></a>per installare</li>
					{% else %}
	          		<li><strong> {{key}} </strong>: {{value}}</li>
	          		{% endif %}
				{% endfor %}
		    </ul>
		</h4>
	
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

  	{% if error %}
    	<p class=error><strong>Error:</strong> {{ error }} </p>
  	{% endif %}
	</div>


{% endblock %}