{% extends "index.html" %}
{% block page_content %}

	<div class="container">
	<h2>App: {{name}}</h2>
		<h4>
			<ul class="list-unstyled marginList">
				{% for key, value in infoApp.items() %}
					{% if key == 'Installed' and infoApp['Installed'] == 1 %}
					<li><strong> {{key}} </strong>: SI clicca<a href="{{url_for('removePackage',name=name)}}" style="color: red;"><u><em> qui </em></u></a>per rimuovere</li>
					{% elif key == 'Installed' and infoApp['Installed'] == 0 %}
					<li><strong> {{key}} </strong>: NO clicca<a href="{{url_for('installPackage',name=name)}}" style="color: red;"><u><em> qui </em></u></a>per installare</li>
					{% else %}
	          		<li><strong> {{key}} </strong>: {{value}}</li>
	          		{% endif %}
				{% endfor %}
		    </ul>
		</h4>

	</div>


{% endblock %}