{% extends "index.html" %}
{% block page_content %}

<h2>Lista Job schedulati</h2>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

  	{% if error %}
    	<p class=error><strong>Error:</strong> {{ error }} </p>
  	{% endif %}

	{% if listCrontabs|length>0 %}
		<div class="container">
		  <div class="jumbotron marginJumb">
		  	<dl>
			    {% for key, value in listCrontabs.data.items() %}
			      <dt><h2>{{ key }}</h2></dt>
			      {% for v in value %}
		      		<!-- <dd style="margin-left: 60px;">{{ v }}</dd> -->
		      		<dd style="margin-left: 60px;"><a href="{{ url_for('getContentCrontab', cronk = key, cronv = v ) }}" class="btn btn-link"> {{ v }} </a></dd>
			      {% endfor %}
			    {% endfor %}
		    </dl>
		  </div>  

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDeleteCron">Rimuovi Cron</button>
	<div class="modal fade" id="modalDeleteCron" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Scegli il cron che vuoi eliminare</h4>
		    </div>
		    <form id="form" action="/deleteCron" role="form" method = "POST">
			    <div class="modal-body">
			      Seleziona cron: 
		          	<!--<label for="selectFilename">-- Seleziona il filename --</label>-->
				      <select class="form-control" id="selectedCron" name="selectedCron">
				        <option selected="selected">-- Seleziona cron --</option>
				        {% for key, value in listCrontabs.data.items() %}
				        	{% for v in value %}
				    		<option> {{key}}/{{ v }} </option>
				    		{% endfor %}
		    	  		{% endfor %}	
				      </select>	
			    </div>
			    <div class="modal-footer">
			      	<input type = "submit" value = "Invio" class="btn btn-info btn-default">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			</form>
		  </div>
		</div>
	</div>
		</div>
	{% endif %}

{% endblock %}