{% extends "index.html" %}
{% block page_content %}

<h2>Lista Job schedulati</h2>

	{% if listCrontabs|length>0 %}
		<div class="container">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				  <div class="alert alert-success">
				    <ul class=flashes>
				    {% for message in messages %}
				      <h2><li>{{ message }}</li></h2>
				    {% endfor %}
				    </ul>
				    <meta http-equiv="refresh" content="5;URL=http://localhost:5000/listCron">
				  </div>
			  {% endif %}
			{% endwith %}

			{% if error %}
				<div class="alert alert-danger">
					<h2><p class=error><strong>Error:</strong> {{ error }}</p></h2>
				</div>
			{% endif %}
		  <div class="jumbotron marginJumb">
		  	<dl>
			    {% for key, value in listCrontabs.data.items() %}
			      <dt><h2>{{ key }}</h2></dt>
			      {% for v in value %}
		      		<!-- <dd style="margin-left: 60px;">{{ v }}</dd> -->
		      		<dd style="margin-left: 60px;"><a href="{{ url_for('getContentCrontab', cronk = key, cronv = v ) }}" class="btn btn-link"> {{ v }} </a></dd>
			      {% endfor %}
			    {% endfor %}
		    </dl>
		  </div>  

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddCron">Aggiungi cron</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddCustomCron">Aggiungi default cron</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteCron">Rimuovi cron</button>

	<div class="modal fade" id="modalAddCron" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Aggiungi nuovo cron</h4>
		    </div>
		    <form id="form" action="/addCron" role="form" method = "POST">
			    <div class="modal-body">
			    	<div class="form-group">
			    		<label for="command">Comando:</label>
			      		<input type="text" id="command" name="command">
			        </div>
			      	<div class="form-group">
			      		<label for="nameCron">Nome:</label>
			      		<input type="text" value="{{generatedCronName}}" id="nameCron" name="nameCron">
			      	</div>
			      	<div class="form-group">
			      		<label for="nameCron">User:</label>
			      		<input type="text" value="root" id="user" name="user">
			      	</div>
			      	<div class="form-group">
			      		<label for="minute">Minuto:</label>
			      		<input type="text" id="minute" name="minute">
			      	</div>
			      	<div class="form-group">
			      		<label for="hour">Ora:</label>
			      		<input type="text" id="hour" name="hour">
			      	</div>
			      	<div class="form-group">
			      		<label for="dayOfMounth">Giorno del mese:</label>
			      		<input type="text" id="dayOfMounth" name="dayOfMounth">
			      	</div>
			      	<div class="form-group">
			      		<label for="mounth">Mese: </label>
			      		<input type="text" id="mounth" name="mounth">
			      	</div>
			      	<div class="form-group">
			      		<label for="dayOfWeek">Giorno della settimana:</label>
			      		<input type="text" id="dayOfWeek" name="dayOfWeek">
			      	</div>
			    </div>
			    <div class="modal-footer">
			      	<input type = "submit" value = "Invio" class="btn btn-info btn-default">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			</form>
		  </div>
		</div>
	</div>

	<div class="modal fade" id="modalAddCustomCron" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Aggiungi nuovo cron</h4>
		    </div>
		    <form id="form" action="/addCustomCron" role="form" method = "POST">
			    <div class="modal-body">
					<div class="form-group">
				    	Tipo cron: 
			          	<!--<label for="selectFilename">-- Seleziona il filename --</label>-->
					      <select class="form-control" id="typeOption" name="typeOption">
					        <option selected="selected">-- Seleziona tipo --</option>
					    	<option> ogni ora </option>
					    	<option> ogni giorno </option>
					    	<option> ogni settimana </option>
					    	<option> ogni mese </option>
					      </select>	
				    </div>
			      	<div class="form-group">
			    		<label for="command">Comando:</label>
			      		<input type="text" id="command" name="command">
			        </div>
			      	<div class="form-group">
			      		<label for="nameCron">Nome:</label>
			      		<input type="text" value={{generatedCronName}} id="nameCron" name="nameCron">
			      	</div>
			    </div>
			    <div class="modal-footer">
			      	<input type = "submit" value = "Invio" class="btn btn-info btn-default">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			</form>
		  </div>
		</div>
	</div>

	<div class="modal fade" id="modalDeleteCron" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Scegli il cron che vuoi eliminare</h4>
		    </div>
		    <form id="form" action="/deleteCron" role="form" method = "POST">
			    <div class="modal-body">
					Seleziona cron: 
		          	<!--<label for="selectFilename">-- Seleziona il filename --</label>-->
				      <select class="form-control" id="selectedCron" name="selectedCron">
				        <option selected="selected">-- Seleziona cron --</option>
				        {% for key, value in listCrontabs.data.items() %}
				        	{% for v in value %}
				    		<option> {{key}}/{{ v }} </option>
				    		{% endfor %}
		    	  		{% endfor %}	
				      </select>	
			    </div>
			    <div class="modal-footer">
			      	<input type = "submit" value = "Invio" class="btn btn-info btn-default">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			</form>
		  </div>
		</div>
	</div>
	</div>
	{% endif %}

{% endblock %}