{% extends "index.html" %}
{% block page_content %}



<div class="container">
<button id="myTopButton" title="Su"><i class="glyphicon glyphicon-arrow-up"></i></button>  
  <div class="jumbotron">
    <h1 class="title">Logs</h1>   


        {% for x in logs.data %}
        <div style="margin-top: 3em;">
        	{% for k,v in x.items() %}
        	<p style="text-align: center;"><h4>{{k}}:{{v}}</h4></p>
        	{% endfor %}
        </div>
        {% endfor %}

  </div>
    
</div>

{% endblock %}
