{% extends "index.html" %}
{% block page_content %}

<div class="container">
  <h1>Parametri di sistema</h1>
  <div class="row">
    
    <p>Questa pagina racchiude le funzioni per la visualizzazione e la modifica di tutti i parametri base del sistema. Da qui potrai quindi ad
    esempio visualizzare e modifare l'hostname della macchina. Attento a quando esegui operazioni su questi dati in quanto operazioni sensibili
    che possono alterare profondamente il comportamento del sistema e in alcuni casi infausti compromettere il corretto avvio dello stesso.
    In ogni caso per ogni operazione di modifica verrà salvato un log contenente le operazioni effettuate e che può aiutarti a rimettere il sistema
    in piedi in caso qualcosa vada storto. Puoi consultare questi log dalla pagina "log" di nomodo.</p>

    <h2>Nome host</h2>
    <div class="col-sm-3 col-md-3 col-lg-3"><h4 style="color: green;">Nome macchina:&nbsp; {{ hname.data }}</h4></div>
    <div class="col-sm-9 col-md-9 col-lg-9"><button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#modalUpdateHostname">Modifica</button></div>
  </div>

  <h2 style="margin-top: 60px;">Modifica file di sistema</h2>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h3>Directory</h3>
      {% for l in listDir %}
        <button class="accordion">{{ l }}</button>
        <div class="panel" style="display:none; width: 92%;">
          <p>Lorem ipsum...</p>
        </div>
      {% endfor %}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h3>File</h3>
      {% for l in listFile %}
        <button class="accordion">{{ l }}</button>
        <div class="panel" style="display:none; width: 92%;">
          <p>Lorem ipsum...</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      <ul class=flashes>
      {% for message in messages %}
        <h2><li>{{ message }}</li></h2>
      {% endfor %}
      </ul>
      <meta http-equiv="refresh" content="5;URL=http://localhost:5000/param">
    </div>
  {% endif %}
{% endwith %}

<div id = "modalUpdateHostname" class = "modal fade" role="dialog">
	<div class = "modal-dialog"> 
		<div class = "modal-content"> 
			<div class = "modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Inserisci nuovo nome host</h4>
			</div>
			<div class="modal-body">
			<form id="form" action="/newHostname" role="form" method = "POST">
					Nuovo nome host: <input type="text" id="newHname" name="newHname" class="form-control" />
        	</div>	
        	<div class="modal-footer">
        		<!--<button id = "btnUpd" class="btn btn-info btn-default">Invio</button>-->
        		<input type = "submit" value = "Invio" class="btn btn-info btn-default">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
        	</form>	
        </div>	
	</div>
</div>

{% endblock %}