{% extends "index.html" %}
{% block page_content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h2>Lista utenti</h2>
			<table id="generic-table" style="width: 80%;">
				<tr>
					<th> UID </th>
					<th> UNAME </th>
				</tr>
				{% for key, value in users.data.items() %}
				<tr>
					<td> {{ key }} </td>
					<td> <a style="font-size: 20px" href="{{ url_for('getInfoUser',uname = value) }}" class="btn btn-link"> {{ value }} </a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h2>Lista gruppi</h2>
			<table id="generic-table" style="width: 80%;">
				<tr>
					<th> GNAME </th>
					<th> GID </th>
					<th> MEMBERS </th>
				</tr>
				{% for g in groups.data %}
				<tr>
					<td style="font-size: 20px"> {{ g.gname }} </td>
					<td> {{ g.gid }} </td>
					<td> {{ g.members }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}